@import '../../../../styles/variables';

.ImageWrapper {
  float: left;
  text-align: center;
  width: 14%;
}

.UserAvatar {
  aspect-ratio: 1;
  background-color: $mercury;
  border-radius: 25px;
  display: inline-block;
  clear: right;
  height: auto;
  margin: 1%;
  width: 100%;
}

.UploadPictureInput {
  display: none;
}

.UploadPictureText {
  color: $mainBlue;
  cursor: pointer;
  display: block;
  font-weight: bold;
  width: auto;
}