@import '../../../../styles/variables';
@import '../LayoutVariables.scss';

.Footer {
  height: fit-content;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.LinkGroup {
  list-style-type: none;
}

.LinkComponent :hover {
  filter: brightness(0.9);
}

.LinkText {
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.9rem;
  border: 0;
  float: left;
}

.FooterLinksWrapper {
  display: inline-block;
}

.Copyright {
  margin-top: -1vh;
  padding: 0;
}

.CopyrightText {
  font-size: 0.8rem;
}
