@import '../../../../styles/variables';
@import '../LayoutVariables.scss';

.Footer {
  height: $footerHeight;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.9rem;
  border: 0;
}

.bg-primary {
  border: 0;
}

.FooterLinks {
  display: inline-block;
}
.FooterLinksWrapper {
  display: inline-block;
}

.Copyright {
  padding: 0;
}

.CopyrightText {
  font-size: 0.9rem;
}
