.FormWrapper {
  background-color: white;
  left: 50%;
  margin: 0;
  min-height: auto;
  padding: 2%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  z-index: 4;
}

.AuthButtonGroup {
  display: flex;
  margin-bottom: 2%;
  width: auto;
}

.Button {
  height: 5vh;
  margin: 3%;
  padding: 0;
  width: 5vw;
}

.InputWrapper {
  margin-bottom: 1% !important;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.Input {
  margin-top: 2% !important;
}

.SubmitButtonWrapper {
  margin-bottom: 3%;
  text-align: center;
}

.SubmitButton {
  display: inline-block;
  margin: 0 !important;
  width: 80%;
}

.InstructionText {
  font-size: 1.2rem;
  margin-bottom: 1.5%;
  text-align: center;
}
