.cardContainer {
  margin: 2%;
  padding: 3%;
  width: 18vw;
  background-color: var(--container-dark);
  overflow: auto;
  float: left;
}

.card {
  width: auto;
  margin: 0 auto;
  background-color: var(--container-light);
}

.card-title {
  color: var(--title);
}

.card-text {
  color: var(--p-text) !important;
}

#reviewButton {
  background-color: var(--buttonBackground) !important;
}
