<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<!-- nav bar -->
<nav
  class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark"
  id="navbar"
>
  <span class="navbar-brand">1CKW50</span>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link rounded" href=""
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link rounded" href=""
          >Chat server <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>

    <!-- if (isset($_SESSION['loggedIn'])) {
            if ($_SESSION['loggedIn']) {
                echo "<a class='nav-link rounded' href='" . base_url() . "SignOut'>Sign-out (" . $_SESSION['loggedInUsername'] . ") <span class='sr-only'>(current)</span></a>";
            } else {
                echo "<a class='nav-link rounded' href='" . base_url() . "SignUp'>Sign-up <span class='sr-only'>(current)</span></a>";

                echo "<a class='nav-link rounded' href='" . base_url() . "Sign-in'>Sign-in <span class='sr-only'>(current)</span></a>";
            }
        } else {
            echo "<a class='nav-link rounded' href='" . base_url() . "SignUp'>Sign-up <span class='sr-only'>(current)</span></a>";

            echo "<a class='nav-link rounded' href='" . base_url() . "SignIn'>Sign-in <span class='sr-only'>(current)</span></a>";
        } -->

    <!-- display change theme button -->
    <div id="changeThemeContainer">
      <button
        class="btn btn-outline-success my-2 my-sm-0"
        type="button"
        name="theme"
        id="changeThemeButton"
      >
        Change theme
      </button>
    </div>
  </div>
</nav>
