@import '../../../styles/variables';
@import '../Auth.module.scss';

.InputWrapper {
  @extend .InputWrapper;
}

.Input {
  @extend .Input;
}

.SubmitButtonWrapper {
  @extend .SubmitButtonWrapper;
  margin-top: 3%;
}

.SubmitButton {
  @extend .SubmitButton;
}

.PasswordOptions {
  margin: auto;
  width: fit-content;
  margin-bottom: 2% !important;
}

.ForgotPasswordText {
  cursor: pointer;
  color: $mainBlue;
  margin-bottom: 1%;
}