# files that should be removed go here:
**/.DS_Store
**/Folder.jpg
**/thumbs.db
.browserslistrc
.build
.buildpath
.editorconfig
.gitattributes
.idea
.project
.serverless
.vscode
.webpack
backend/secret.pem
dist
Extras/
node_modules
