# files that should be removed go here:
**/.DS_Store
**/thumbs.db
**/Folder.jpg
**/Extras/
**/.project
**/.gitattributes
**/.buildpath
**/.idea
# node_modules
# !node_modules/@angular-devkit/build-angular/src/angular-cli-files/models/webpack-configs/browser.js
**/.webpack
**/.serverless
**/.vscode
**/curlCreateTestToken.txt
**/secret.pem