@import '../../styles/variables';

.CardWrapper {
  height: 18vh;
}

.CardContainer {
  height: 100%;
  margin: 0;
}

.ImageColumn {
  height: 100%;
  margin: 0 !important;
  margin-left: 0.3% !important;
  margin-right: 0.3% !important;
}

.Image {
  float: left;
  object-fit: contain;
  padding: 2%;
  height: 100% !important;
  width: auto;
}

.SpinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.TextColumn {
  height: 100%;
  overflow-y: hidden;
  padding: 0;
}

.CardBody {
  height: 100%;
  padding: 0;
  padding-top: 0.5%;
}

.FilmTitle {
  font-weight: bold;
  margin-bottom: 0.5%;
  width: fit-content;
  margin-right: 0;
}

.FilmDescription {
  max-width: 50%;
  margin: 0;
}
