<!-- nav bar -->
<nav
  class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark"
  id="navbar"
>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link rounded" routerLink=""
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link rounded" routerLink="#"
          >Chat server <span class="sr-only">(current)</span></a
        >
      </li> -->
    </ul>

    <ng-container *ngIf="loggedInUserData !== null">
      <a class="nav-link rounded" routerLink="deleteAccount"
        > Delete Account <span class="sr-only">(current)</span></a>
    </ng-container>
    <ng-container *ngIf="loggedInUserData === null; else loggedIn">
      <a class="nav-link rounded" routerLink="auth"
        > Login / Sign-in <span class="sr-only">(current)</span></a>
    </ng-container>
    <ng-template #loggedIn>
      <a class="nav-link rounded" routerLink="signOut"
        > {{loggedInUserData.username}} (Log out)<span class="sr-only">(current)</span></a>
    </ng-template>

  </div>
</nav>
