@import '../LayoutVariables.scss';

.Header {
  height: $headerHeight;
  padding: 0;
}

.container-fluid {
  height: 100%;
}

.RightContent {
  height: $headerHeight;
  width: fit-content;
}

.UserAvatar {
  width: 8%;
  height: $footerHeight;
  width: $footerHeight;
  margin: 0 !important;
  float: left;
}

.SearchWrapper {
  width: 16vw;
  float: left;
}

.Search {
  width: 6vw;
  vertical-align: middle;
}

.AuthButton {
  vertical-align: middle;
  height: 80%;
  width: 10vw;
  padding: 0;
  font-size: 0.6rem;
}
