@import '../LayoutVariables.scss';

.Header {
  height: $headerHeight;
}

.RightContent {
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.SearchWrapper {
  width: 16vw;
  float: left;
}

.Search {
  width: 6vw;
  vertical-align: middle;
}

.AuthButton {
  vertical-align: middle;
}
