@import '../LayoutVariables.scss';

.Header {
  height: $headerHeight;
  padding: 0;
}

.container-fluid {
  height: 100%;
}

.Logo {
  padding: 0.5%;
  height: 100%;
  width: auto;
}

.LeftContent {
  display: flex;
  align-items: center;
}

.RightContent {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
}

.UserAvatar {
  width: 8%;
  height: $footerHeight;
  width: $footerHeight;
  margin: 0 !important;
  float: left;
}

.SearchWrapper {
  width: 16vw;
  float: left;
}

.Search {
  width: 6vw;
  vertical-align: middle;
}

.AuthButton {
  font-size: 0.6rem;
  height: 80%;
  padding: 0;
  vertical-align: middle;
  width: 10vw;
}
