@import '../../styles/variables';

.PageWrapper {
  background-color: white !important;
  border-radius: 15px;
  margin-top: 0.5%;
  height: fit-content;
}

.UserDetails {
  float: left;
  margin: 0;
  margin-left: 1%;
  width: 85%;
}

.UsernameHeader {
  margin: 0 !important;
  color: $mainBlue;
}

.UserDetailsColumnWrapper {
  clear: both;
  width: 100%;
}

.UserDetailsColumn {
  float: left;
  width: 25%;
}

.UserRank {
  color: #585858;
  font-size: 1.25rem;
}

.UserProfileText {
  margin-bottom: 0;
}

.UpdateInfoText {
  color: $mainBlue;
  clear: both;
  cursor: pointer;
  float: right;
  margin-bottom: 0;
  width: fit-content;
}

.UserDetailsColumnRight {
  width: 50%;
}

.FileUploadWrapper {
  clear: both;
  margin: auto;
  margin-bottom: 4%;
  overflow: auto;
  width: fit-content;
}

.ImportInstructions {
  clear: both;
  float: left;
  font-weight: bold;
  margin-bottom: 0.25%;
}

.SuccessImportMessage {
  color: green;
}

.ErrorImportMessage {
  color: red;
}

.FileSelectorWrapper {
  clear: both;
  float: left;
}

.DeleteAccountButtonWrapper {
  margin: 0 auto;
  width: fit-content;
}

.RatingSpinner {
  float: left;
}

.BioWrapper {
  clear: both;
}

.BioHeading {
  color: $mainBlue;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 1%;
}

.BioText {
  font-style: italic;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 0;
  word-break: break-all;
  white-space: pre-line;
}

.RecentRatingsWrapper {
  clear: both;
  float: left;
  width: 100%;
}

.RecentRatingsHeader {
  color: $mainBlue;
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 0;
  width: 100%;
}

.RecentRatingColumn {
  width: 46%;
  float: left;
  margin: 1%;
}

.RatingLink {
  border-radius: 10px;
  clear: both;
  color: black;
  float: left;
  font-size: 1.2rem;
  padding: 1%;
  width: 100%;
}

.RatingPercentile {
  font-size: 0.8rem;
}

.ModalContentWrapper {
  background-color: white;
  border-radius: 25px;
  left: 50%;
  padding: 2vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;
  z-index: 4;
}

.ModalButtonWrapper {
  display: flex;
  justify-content: space-between;
}

.ModalButton {
  float: left;
  width: 45%;
}