@import '../../styles/variables';

.PageWrapper {
  background-color: white !important;
}

.UserDetails {
  float: left;
  margin: 1%;
}

.UsernameHeader {
  margin: 0 !important;
  color: $mainBlue;
}

.UserRank {
  color: #585858;
  font-size: 1.25rem;
}

.UserProfileText {
  margin-bottom: 0;
}

.UserProfileLink {
  color: $mainBlue;
  cursor: pointer;
  margin-bottom: 0;
}

.ImportInstructions {
  font-weight: bold;
  margin-bottom: 1%;
}

.SuccessImportMessage {
  color: green;
}

.ErrorImportMessage {
  color: red;
}

.FileSelectorWrapper {
  float: left;
}

.RatingSpinner {
  float: left;
}

.RecentRatingsWrapper {
  clear: both;
  float: left;
}

.RecentRatingsHeader {
  color: $mainBlue;
  font-size: 1.4rem;
}