.footerContainer {
  float: left;
  padding: 0;
  width: 100%;
  height: 7vh;
  background-color: var(--container-dark);
  margin: 0;
  box-shadow: 0 0 10px 10px var(--box-shadow);
}

.footerContent {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--container-dark);
  display: flex;
  align-items: center;
}

.gitHubContainerOuter {
  margin: 0;
  margin-left: 1%;
  padding: 0.5%;
  height: 5vh;
  background-color: var(--container-light);
  float: left;
  display: flex;
  align-items: center;
}

.gitHubContainerInner {
  float: left;
  margin: 0;
  padding: 0;
  height: 5vh;
  display: flex;
  white-space: nowrap;
}

#gitHubLink {
  margin: auto;
  text-align: center;
}

#gitHubLink,
#gitHubLink:active,
#gitHubLink:focus,
#gitHubLink:visited {
  color: var(--p-text);
}

#gitHubLink:hover {
  color: var(--gitHubHyperlink);
}

#gitHubLink a:active,
#gitHubLink a:focus,
#gitHubLink a:visited {
  color: var(--reviewHyperlink);
}
