.PageWrapper {
  background-color: white !important;
  border-radius: 15px;
  height: fit-content;
  margin-top: 0.5%;
}

.FormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Instructions {
  display: inline-block;
  margin-bottom: 1%;
}

.Form {
  width: 40%;
}

.RepeatPasswordWrapper {
  margin-top: 4%;
  margin-bottom: 2%;
}

.SuccessStatus {
  color: green;
  margin-bottom: 1%;
}

.ErrorStatus {
  color: red;
  margin-bottom: 1%;
}

.HomeLink {
  margin-bottom: 1%;
}