.PageWrapper {
  background-color: white !important;
  border-radius: 15px;
  height: fit-content;
  margin-top: 0.5%;
}

.FormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Instructions {
  display: inline-block;
  margin-bottom: 1%;
}

.Form {
  width: fit-content;
}

.RepeatPasswordWrapper {
  margin-top: 2%;
  margin-bottom: 2%;
}