.PageWrapper {
  background-color: white !important;
  border-radius: 15px;
  height: fit-content;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

.FormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Instructions {
  display: inline-block;
  margin-bottom: 1%;
}

.Form {
  width: 80%;
}

.RepeatPasswordWrapper {
  margin-top: 4%;
  margin-bottom: 2%;
}

.HomeLink {
  margin-bottom: 1%;
}

.EmailStatus {
  margin-top: 0;
  margin-bottom: 1%;
  width: 80%;
}

.HomeLinkWrapper {
  margin: 0 auto;
  width: fit-content;
}