@import '../../Auth.module.scss';
@import '../../../../styles/variables.scss';

.ReturnToLogin {
  color: $mainBlue;
  cursor: pointer;
  margin-bottom: 1%;
  text-align: center;
}

.InputWrapper {
  @extend .InputWrapper;
}

.SubmitButtonWrapper {
  @extend .SubmitButtonWrapper;
  margin-top: 3%;
}

.AlertWrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}