@import '../../../../styles/variables';
@import '../LayoutVariables.scss';
.PageViewContainer {
  background-color: $lightGrey;
}

.Body {
  height: $bodyHeight;
  width: 70%;
  margin: auto;
  background-color: white;
}
