@import '../../../styles/variables';
@import '../../../styles/LayoutVariables.scss';

.PageViewContainer {
  background-color: $lightGrey;
}

.Body {
  height: $bodyHeight;
  width: 70%;
  margin: auto;
  padding: 1%;
  background-color: white;
}
