@import '../../styles/variables.scss';

.PageWrapper {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  padding: 1%;
}

.ModifyReview {
  cursor: pointer;
  color: $mainBlue;
}

.Poster {
  height: auto;
  width: 10vw;
  margin: 1%;
  float: left;
}

.FilmDetails {
  float: left;
}

.FilmDescription {
  clear: left;
}

.FilmInfo {
  clear: both;
}