.PageWrapper {
  height: 100%;
  width: 100%;
}

.Poster {
  height: 35vh;
  width: auto;
  margin: 1%;
  padding: 1%;
  float: left;
}

.FilmDetails {
  float: left;
}

.RateFilmWrapper {
  float: right;
  margin: 1%;
}
