.FormWrapper {
  max-width: 70vw;
  border: 1px red solid;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.AuthButtonGroup {
  width: auto;
  display: flex;
}

.Button {
  width: 5vw;
  height: 5vh;
  padding: 0;
  margin: 3%;
}
