#review {
  width: 100%;
}

.reviewTextContainer {
  float: left;
  background-color: var(--container-light);
  margin: 1% 1% 1% 0;
  display: inline-block;
  width: 77%;
}

.reviewImageContainer {
  margin: 1%;
  padding: 1%;
  width: 20%;
  background-color: var(--container-light);
  float: left;
}

.reviewImage {
  width: 100%;
  height: auto;
  float: left;
}

#gameBlurb {
  float: left;
  width: auto;
  font-size: 1.3em;
}

#reviewText {
  float: left;
  clear: left;
  font-size: 1.3em;
}

.alert {
  background-color: #C0466A;
  padding: 1%;
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#alertText {
  text-align: center;
  margin: 0;
  padding: 0;
}
