@import '../../../styles/variables.scss';

.Header {
  background-color: $mainBlue !important;
  height: $headerHeight;
  padding: 0;
}

.Logo {
  padding: 0.5%;
  height: 100%;
  width: auto;
}

.LinkComponent {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.LinkComponent :hover {
  filter: brightness(0.9);
}

.LinkText {
  background-color: $mainBlue !important;
  color: white !important;
  border: 0;
  float: left;
}

.SearchNavItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.Search {
  height: 100%;
  line-height: 100%;
}

.SearchLabel {
  background-color: white !important;
}

.UserAvatarLink {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.UserAvatar {
  background-color: #ffffff;
  float: left;
  height: $headerHeight - 1.5vh;
  margin: 0 !important;
  width: $headerHeight - 1.5vh;
}


.AuthButton {
  font-size: 0.6rem;
  height: $headerHeight - 1.5vh;
  margin: 0 !important;
  padding: 0;
  vertical-align: middle;
  width: 7%;
}
