<title>Game review Website</title>

<h1>Jonathan's Game Review Website</h1>

<!-- display search review form -->
<!-- <form class="form" method="post" action="Search" id="searchForm">
  <input
    class="form-control mr-sm-2"
    type="search"
    name="searchTerm"
    placeholder="Search reviews"
    aria-label="Search"
  />
  <button
    class="btn btn-outline-success my-2 my-sm-0"
    type="submit"
    id="searchButton"
  >
    Search
  </button>
</form> -->

<div class="container-fluid">
  <div class="row justify-content-center">
      <ng-container *ngFor="let review of loadedReviews">
        <app-card-container
          [title]="review.gameName"
          [tagline]="review.tagline"
          [slug]="review.slug"
          [image]="review.image"
        ></app-card-container> </ng-container
    >
  </div>
</div>
