.Text {
  align-items: center;
  border-radius: 10px;
  color: white;
  display: flex;
  flex: 1 0 auto;
  float: left;
  font-size: 1.5rem;
  height: auto;
  justify-content: center;
  margin-bottom: 0;
  width: 5%;
}

.Text:before {
  content: '';
  display: inline-block;
  padding-top: 100%;
}