.RateFilmWrapper {
  clear: right;
  float: right;
  margin-left: 1%;
  margin-right: 1%;
}

.ReviewInputWrapper {
  margin-top: 4%;
}

.SubmitButton {
  margin-top: 2%;
  margin-bottom: 0 !important;
}