@import '../../styles/variables';

.PageViewContainer {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f0f0f0;
}

.Row {
  height: 100%;
  margin: 0;
}

.Body {
  padding: 0.5%;
}

.Column {
  display: flex;
  height: 100vh;
  padding: 0;
}

@media only screen and (max-width: 950px) {
  .Row {
    height: 100vh;
  }
  
  .Column {
    display: none;
  }

  .Body {
    width: 100%;
  }
}