@import '../LayoutVariables.scss';

.PageViewContainer {
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.Body {
  margin-bottom: $footerHeight;
  height: 100%;
}

.Main {
  width: 70vw;
  height: auto;
}

.Column {
  width: 15vw;
  background-color: lightgrey;
  padding: 0;
  height: 100%;
}
