.loginContainer {
  background-color: var(--container-light);
  margin: 0 auto;
  padding: 1%;
  width: 40vw;
  height: auto;
  overflow: hidden;
}

.loginContainerContent {
  float: left;
  background-color: var(--container-dark);
  display: block;
  width: 100%;
  height: auto;
  padding: 2%;
}

#containerTitleHeader {
  width: auto;
  color: var(--p-text);
  display: inline-block;
  padding: 1% 1% 1% 1%;
  margin: 1% 0 0;
  text-align: center;
  background-color: var(--container-light);
  white-space: nowrap;
  overflow: hidden;
}

#formLabel {
  color: var(--p-text);
}

#loginButton {
  background-color: var(--buttonBackground) !important;
  margin: 0 auto;
  width: 50%;
  display: block;
}

.titleWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
