<title>{{isLoginMode ? 'Login' : 'Sign up'}}</title>

<div class="loginContainer rounded">
  <div class="loginContainerContent rounded">
    <div class="titleWrapper">
      <h2 id="containerTitleHeader" class="rounded">{{isLoginMode ? 'Login' : 'Sign up'}}</h2>
    </div>
    <ng-container *ngFor="let errorToDisplay of friendlyErrors">
      <div class="alert alert-danger">
        <p> {{errorToDisplay}} </p>
      </div>
    </ng-container>

    <!-- attempt sign in form -->
    <ng-container *ngIf="isLoginMode">
    <form #signInForm="ngForm" (ngSubmit)="signIn(signInForm.value)">
      <div class="form-group">
        <label id="formLabel" for="email">Email address</label>
        <input
          type="email"
          class="form-control"
          id="email"
          required
          ngModel
          name="email"
          placeholder="Enter email address"
        />
      </div>
      <div class="form-group">
        <label id="formLabel" for="password">Password</label>
        <input
          type="password"
          class="form-control rounded"
          required
          ngModel
          id="password"
          name="password"
          placeholder="Enter password"
        />
      </div>

      <button
        id="loginButton"
        type="submit"
        class="btn btn-primary"
        [disabled]="!signInForm.form.valid"
      >
        Login
      </button>
      <button
        id="switchButton"
        class="btn btn-primary"
        (click)="switchMode()">
        {{isLoginMode ? 'Sign up instead' : 'Log in instead'}}
      </button>
    </form>
  </ng-container>

  <ng-container *ngIf="!isLoginMode">
    <form #signupForm="ngForm" (ngSubmit)="signUp(signupForm.value)">
      <div class="form-group">
        <label id="formLabel" for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          required
          ngModel
          name="username"
          placeholder="Enter username"
        />
      </div>
      <div class="form-group">
        <label id="formLabel" for="firstName">First name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          required
          ngModel
          name="firstName"
          placeholder="Enter first name"
        />
      </div>
      <div class="form-group">
        <label id="formLabel" for="email">Email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          required
          ngModel
          name="email"
          placeholder="Enter email address"
        />
      </div>
      <div class="form-group">
        <label id="formLabel" for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          required
          ngModel
          name="password"
          placeholder="Enter password"
        />
      </div>
      <div class="form-group">
        <label id="formLabel" for="passwordConfirm">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordConfirm"
          required
          ngModel
          name="passwordConfirm"
          placeholder="Confirm password"
        />
      </div>
      <button
        id="signupButton"
        type="submit"
        class="btn btn-primary"
        [disabled]="!signupForm.form.valid"
      >
        Sign up
      </button>
      <button
        id="switchButton"
        class="btn btn-primary"
        (click)="switchMode()">
        {{isLoginMode ? 'Sign up instead' : 'Log in instead'}}
      </button>
    </form>
  </ng-container>
  </div>
</div>
