#changeThemeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#changeThemeButton {
  float: right;
  padding: 1%;
  margin: 0;
  height: 5vh;
}

.navbar {
  background-color: var(--container-dark) !important;
  width: 100%;
  margin-bottom: 1%;
  box-shadow: 0 0 10px 10px var(--box-shadow);
}

.nav-link {
  background-color: #535353;
  color: white !important;
  margin-left: 1%;
}
