@import '../../../../styles/variables';
@import '../../../../styles/LayoutVariables.scss';

.Footer {
  height: $footerHeight;
  margin-top: calc($footerHeight * -1);
  width: 100%;
  clear: both;
  position: relative;
  background-color: $mainBlue !important;
}

.LinkGroup {
  list-style-type: none;
}

.LinkComponent :hover {
  filter: brightness(0.9);
}

.LinkText {
  background-color: $mainBlue !important;
  color: white !important;
  font-size: 0.9rem;
  border: 0;
  float: left;
}

.FooterLinksWrapper {
  display: flex;
  justify-content: center;
}

.Copyright {
  margin-top: -1vh;
  padding: 0;
}

.CopyrightText {
  font-size: 0.8rem;
}
