@import '../Auth.module.scss';

.InputWrapper {
  @extend .InputWrapper;
}

.AuthInput {
  margin-bottom: 1%;
}

.SubmitButtonWrapper {
  @extend .SubmitButtonWrapper;
}

.SubmitButton {
  @extend .SubmitButton;
}

.TermsConditionsWrapper {
  width: auto;
  text-align: center;
}
