@import '../Auth.module.scss';

.InputWrapper {
  @extend .InputWrapper;
}

.AuthInput {
  margin-bottom: 1%;
}

.ValidationText {
  font-size: 0.85rem;
  padding-left: 5%;
  margin: 0 !important;
}

.SubmitButtonWrapper {
  @extend .SubmitButtonWrapper;
}

.SubmitButton {
  @extend .SubmitButton;
}

.TermsConditionsWrapper {
  width: auto;
  text-align: center;
}
