@import '../../../../styles/_variables';
@import '../Auth.module.scss';

.InputWrapper {
  @extend .InputWrapper;
}

.SubmitButtonWrapper {
  @extend .SubmitButtonWrapper;
}

.SubmitButton {
  @extend .SubmitButton;
}

.PasswordOptions {
  margin: auto;
  width: fit-content;
  margin-bottom: 2% !important;
}
