:root {
  --body: #212121;
  --container-dark: #404040;
  --container-light: #606060;
  --container-admin: #00913a;
  --p-text: #d3d3d3;
  --box-shadow: #212121;
  --title: whitesmoke;
  --gitHubHyperlink: #bebebe;
  --buttonBackground: #00c851;
  --reviewHyperlink: #00c851;
  --reviewHyperlinkHover: #00993d;
  --textHighlight: #00c851;
}

html * {
  font-family: 'Roboto', sans-serif;
}

.btn-primary {
  width: 60%;
  margin: auto auto 7%;
}

.textContainer {
  float: left;
  margin: 1%;
  background-color: var(--container-dark);
  padding: 1%;
  display: inline-block;
}

.commentsContainerOuter {
  clear: both;
  float: left;
  background-color: var(--container-light);
  width: 98%;
  margin: 0% 1% 9vh;
}

.commentsContainerInner {
  float: left;
  margin: 1%;
  background-color: var(--container-dark);
  padding: 1% 1% 0;
  width: 98%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  align: centre;
}

p {
  color: var(--p-text);
}

h1 {
  padding: 0;
  width: 100vw;
  text-align: center;
  color: var(--title);
}

.nav-item {
  background-color: transparent !important;
}

body {
  overflow-x: hidden;
  background-color: var(--body) !important;
  clear: right;
  height: auto;
}

.footerImageContainer {
  margin: 0;
  padding: 1% 1% 1% 0.5%;
}

#gameBlurb a,
#reviewText a,
#reviewText:active,
#reviewText:focus,
#reviewText:visited {
  color: var(--reviewHyperlink);
}

#gameBlurb a:hover,
#reviewText a:hover {
  color: var(--reviewHyperlinkHover);
}

.chatSpaceContainerOuter {
  background-color: var(--container-light);
  padding: 1%;
  width: auto;
  clear: both;
  overflow: auto;
  margin: 1% 1% 9vh;
}

.chatRoomContainer {
  width: 8%;
  padding: 0;
  margin: 0;
  float: left;
  text-align: center;
}

#chatRoomTitle {
  color: var(--p-text);
  width: 100%;
  margin: 0;
  padding: 1% 0;
  display: inline-block;
  background-color: var(--container-dark);
}

.roomButton {
  width: 100%;
  margin: 1vh 0 0;
  padding: 1%;
  height: 15vh;
  background-color: var(--container-dark);
  text-align: center;
  display: flex;
  white-space: nowrap;
}

.roomLabel {
  margin: auto;
  font-size: 1.3rem;
}

.chatSpaceContainerInner {
  background-color: var(--container-dark);
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 0%;
  padding: 1%;
  width: 91%;
  float: left;
  height: auto;
}

#chatspace {
  margin: 0;
  padding: 0;
}

.messageTelemetry {
  padding: 0.5%;
  margin: 0 1% 0 0;
  background-color: var(--container-light);
  width: 8%;
  height: auto;
  float: left;
}

.messageContainerInner {
  padding: 1%;
  margin: 0;
  background-color: var(--container-light);
  white-space: nowrap;
  width: auto;
  height: auto;
  float: left;
}

.messageContainerInnerAdmin {
  margin: 0;
  padding: 1%;
  background-color: var(--container-admin);
  width: auto;
  height: auto;
  float: left;
  white-space: nowrap;
}

.outputTelemetry {
  color: var(--p-text);
  text-align: center;
  padding: 1%;
  margin: 0;
}

.outputMessage {
  color: var(--p-text);
  text-align: left;
  padding: 0;
  margin: 0;
}

.sendMessageContainer {
  padding: 1%;
  margin: 1% 0;
  background-color: var(--container-light);
  float: left;
  width: 100%;
}

#sendbutton {
  float: right;
  width: 5%;
}

#message {
  float: left;
  width: 94%;
  margin-right: 1%;
  margin-bottom: 1%;
  height: 8vh;
  clear: right;
}

#commentsDisabledMessage {
  background-color: var(--container-dark);
  color: var(--p-text);
  padding: 1%;
  margin: 1%;
}

.reviewTitle {
  margin: 0;
  padding: 0;
}

#jumpToComments {
  background-color: var(--buttonBackground) !important;
  margin: 0 0 0 1%;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  color: black;
  float: left;
  display: inline;
  vertical-align: middle;
  height: 5%;
}

#notLoggedIn {
  padding: 1%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: var(--container-dark);
  color: var(--p-text);
  display: inline-block;
  font-size: 1.25em;
}

.postCommentContainer {
  padding: 1%;
  margin: 1% auto;
  height: auto;
  background-color: var(--container-dark);
  width: 60vw;
}

#postCommentForm {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  height: auto;
}

#commentInput {
  margin-bottom: 1%;
  height: 10vh;
}

#submitCommentButton {
  margin: 0 auto;
  width: 50%;
  display: block;
  background-color: var(--buttonBackground) !important;
}

#signInOutButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#signInOutButton {
  margin: auto;
  padding: 0;
}

#vueComments {
  padding: 0;
  margin: 0 0 1%;
  background-color: var(--container-dark);
  display: inline-block;
  width: 100%;
  height: auto;
}

#adminAccount {
  color: var(--p-text);
}
