.CountrySelect {
  box-sizing: border-box;
  display: block;
  margin-top: 11.2846px;
  margin: 0 !important;
  margin-top: 3% !important;
  padding-bottom: 5.28px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5.28px;
  width: 100%;

  border-color: #BDBDBD !important;
  border-radius: 4px;
  color: #666666 !important;

  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: linear;
}