.InputsWrapper {
  clear: both;
}

.InputWrapper {
  float: left;
  width: 23%;
  margin-left: 1%;
  margin-left: 1%;
}

.CountrySelect {
  box-sizing: border-box;
  display: block;
  margin-top: 11.2846px;
  margin: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 5.28px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 5.28px;
  width: 100%;

  border-color: #BDBDBD !important;
  border-radius: 4px;
  color: #666666 !important;

  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: linear;
}

.BottomInputsWrapper {
  clear: both;
  overflow: auto;
  margin-top: 5%;
}

.GenderWrapper {
  clear: left;
  float: left;
}

.DateOfBirthWrapper {
  float: left;
}

.DetailText {
  clear: both;
  margin: 0;
}

.DatePicker {
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  width: fit-content;
}

.DescriptionWrapper {
  clear: both;
  margin-top: 1%;
  margin-bottom: 1%;
}

.DescriptionTextArea {
  height: 12vh;
}

.SubmitButtonWrapper {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}