@import 'reset';

// * {
//   border: 1px solid red;
// }

// Set full screen
html,
body,
#root {
  height: 100vh;
}

body {
  font-family: Roboto;
}

// Set base pixel size for rem styling
html {
  font-size: 16px;
}
