.alert {
  background-color: #C0466A;
  padding: 1%;
  margin-top: 5%;
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
